<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Alumnos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Sistema de Actividades
    </a>
</nav>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h2>Lista de Alumnos</h2>
        <a th:href="@{/maestro/inicioMaestro}" class="btn btn-secondary">
            Regresar
        </a>
    </div>

    <a th:href="@{/maestro/nuevoAlumno}" class="btn btn-success mb-3">
        Nuevo Alumno
    </a>

    <table class="table table-bordered table-hover bg-white">
        <thead class="thead-dark">
            <tr>
                <th>Matrícula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Login</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="alumno : ${alumnos}">
                <td th:text="${alumno.matricula}"></td>
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.apellido}"></td>
                <td th:text="${alumno.login}"></td>
                <td>
                    <a th:href="@{/maestro/editarAlumno(id=${alumno.matricula})}" class="btn btn-warning btn-sm">
                        Editar
                    </a>

                    <a th:href="@{/maestro/eliminarAlumno(id=${alumno.matricula})}" class="btn btn-danger btn-sm">
                        Eliminar
                    </a>
                    <a th:href="@{/maestro/verActividadesAlumno(matricula=${alumno.matricula})}" class="btn btn-info btn-sm">
                        Ver Actividades
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>